* {
  font-family: "Roboto";
  user-select: none;
}

body {
  background-color: #101012;
}

.main {
  background-color: #1B1B1B00;
  box-shadow: 10 0px 20px #000000;
  display: grid;
  vertical-align:middle;
  padding-left: 60px;
  margin: 230px auto;
  padding-right: 60px;
  border-radius: 20px;
  position: center;
  padding-bottom: 50px;
  padding-top: 20px;
  width: 80%;
}

.heading {
  font-size: 30px;
  color: #b6c0d1;
  margin-left: 20px;
}

.search {
  font-size: 16px;
  padding-left: 30px;
  margin: auto;
  margin-left: 20px;
  padding-top: 25px;
  width: 550px;
  height: 20px;
  padding-bottom: 25px;
  border: 3px solid #696E71;
  border-radius: 60px;
  color: #696E71;
  background-color: transparent;
  backdrop-filter: blur(10px);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.search:focus {
  outline: none;
}

.search:hover {
  box-shadow: 20px 20px 60px #1E1B11, -20px -20px 60px #292A24;
}

/* add a new class to blur the main content */
.blur {
  filter: blur(5px);
}

/* change the background and border color of the search bar */
.search.focus {
  background-color: #000000;
  border-color: #000000;
}
.seachtext{
  margin-top: -0.1em;
  font-size:5em;
  color: #666B6E;
  
}
